@model RoleViewModel
@inject IUnitOfWork UnitOfWork 
@{
    var departments = new SelectList(await UnitOfWork.departmentRepository.GetAll(), "Id", "Name");
}
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@




<div class=" form-group">
    <label class="col-form-label" asp-for="@Model.RoleName"></label>
    <input class="form-control" asp-for="@Model.RoleName" />
    <span class="text-danger" asp-validation-for="@Model.RoleName"></span>
</div>

