@model RoleViewModel
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit The Role </h1>

<br />
<br />

<div asp-validation-summary="All"></div>

<br />
<br />
<form asp-action="Edit" enctype="multipart/form-data">
    <partial name="PartialViews/_CreateEditPartialView" />

    <input type="submit" value="Save Changes" class="btn btn-primary" />  ||

    <a asp-action="Index" class="btn btn-light">Back To Employees</a>

</form>
@section ValidationScriptSection{
    <partial name="_ValidationScriptsPartial" />
}